<div class="account">
  <div class="container">
    {{!--
    <header class="title">
      <h1><span>The</span> <span>Squiggle</span> <span>Game</span></h1>
    </header>
    --}}

    <div class="nav">
      {{!-- <p>You're logged in, {{ user.name }}</p> --}}
      <a href="/users/logout">LOGOUT</a>
      <a href="/">HOME</a>
    </div>

    {{#if messages}}
    {{#each messages}}
    <p>{{this}}</p>

    {{/each}}
    {{/if}}
<div class="games-list">
    {{#if waitingGames}}
    <div class="notification">
      <h3>It's your turn!</h3>
      <ul>
        {{#each waitingGames}}
        <li>
           <a href="/game/{{ this._id }}">{{ this.name }}</a>

        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}


  <h3>All Games</h3>
    <ul>
      {{#each user.games}}
      <li>
        <a class="game-link" href="/game/{{ this.id }}">{{ this.name }}</a>
      </li>

      {{/each}}
    </ul>

</div>
  

    {{#if joinId}}
    <h3>Join game</h3>
    <form id="join-game" action="/" method="POST">
      <input name="id" type="text" value="{{ joinId }}" />
      <input type="submit" value="join" />
    </form>
{{else}}

<div class="new-game">
  <h3>Create a new game</h3>
    <form id="new-game" action="/game/new" method="POST">
      <input name="gamename" type="text" required/>
      <input type="submit" value="Create" />
    </form>
</div>
 
    {{/if}}

 

    {{!--
    <div class="button-container">
      <a id="playbutton" class="button" href="/play">
        <img src="/images/svg/playhome.svg" alt="" />
      </a>

      <a id="playbutton" class="button" href="/gallery">
        <img src="/images/svg/galleryhome.svg" alt="" />
      </a>
    </div>
    --}}
  </div>
</div>

<script type="text/javascript" src="/account.bundle.js"></script>
