<div class="game">
  <div class="container">
    {{!--
    <header class="title">
      <h1><span>The</span> <span>Squiggle</span> <span>Game</span></h1>
    </header>
    --}}

    <div class="nav">
      {{!-- <p>You're logged in, {{ user.name }}</p> --}}
      <a href="/users/logout">LOGOUT</a>
      <a href="/users/account">GAMES</a>

      <a href="/">HOME</a>
    </div>

    <div class="game-info">
      <h2>{{ game.name }}</h2>

      <p>Your friends can join with this link:</p>

      {{!--
      <p>
        Game ID: <span id="gameId">{{ game.id }}</span>
        <span><button id="copyId">Copy to clipboard</button></span>
      </p>
      --}} {{!--
      <p>
        <span id="gameLink">http://localhost:3000/game/join?id={{ game.id }}</span>
        <span><button id="copyLink">Copy link to clipboard</button></span>
      </p>
      --}}

      <p>
        <span id="game-link"
          >https://squiggle-game.herokuapp.com/game/join?id={{ game.id }}</span
        >
        <span><button id="copyLink">Copy link to clipboard</button></span>
      </p>

      <h3>Players</h3>
      <ul>
        {{#each game.players}}
        <li>{{this}}</li>
        {{/each}}
      </ul>

      {{#if noPlayers}}
      <h3>Add some people to play with</h3>
      {{else}}
      {{#if myTurn.bool}}
      <h3>It's your turn</h3>

      <div class="button-container">
        <a
          id="playbutton"
          class="button button-text"
          href="/play/private/?gameid={{ game.id }}&squiggleid=latest"
        >
          <img src="/assets/svg/playhome.svg" alt="" />
        </a>
        {{!--
        <a
          id="playbutton"
          class="button"
          href="/gallery/private/?gameid={{ game.id }}"
        >
          <img src="/assets/svg/galleryhome.svg" alt="" />
        </a>
        --}}
        <a id="playbutton" class="button button-text" href="/gallery">
          <img src="/assets/svg/galleryhome.svg" alt="" />
        </a>
      </div>

      {{else}}
      <h3>It's {{ game.currentPlayer }}'s turn to draw.</h3>
      <p>You can complete other squiggles from the group anyway</p>
      <p>You only add a new squiggle on your turn.</p>

      {{/if}}
      {{/if}}
    </div>

    {{#if noPlayers}}

    {{else}}
    <div id="imgCont"></div>

    {{#if myTurn.bool}}

    {{else}}
    <div class="button-container">
      <a
        id="playbutton"
        class="button button-text"
        href="/play/private/?gameid={{ game.id }}&squiggleid=random"
      >
        <img src="/assets/svg/playhome.svg" alt="" />
      </a>
      {{!--
      <a
        id="playbutton"
        class="button"
        href="/gallery/private/?gameid={{ game.id }}"
      >
        <img src="/assets/svg/galleryhome.svg" alt="" />
      </a>
      --}}
      <a id="playbutton" class="button button-text" href="/gallery">
        <img src="/assets/svg/galleryhome.svg" alt="" />
      </a>
    </div>
    {{/if}}

    {{/if}}
  </div>
</div>

<script type="text/javascript" src="/game.bundle.js"></script>
