<div class="home">

  <div class="container">
  {{!-- <header class="title">
    <h1><span>The</span> <span>Squiggle</span> <span>Game</span></h1>
  </header> --}}

    <div> 
      <p>You're loggin in, {{user.name}}</p>
      <a href="/users/logout">LOGOUT</a>
      <a href="/users/account">ACCOUNT</a>

      <a href="/">HOME</a>

    </div>

    <div>
        <p>Game name: {{game.name}}</p>
        <p>Game id: {{game.id}}</p>


        <button> Share game</button>

        <h3>Players</h3>
        <ul>
            {{#each game.players}}
            <li>{{this}}</li>
            {{/each}}
        </ul>   

{{#if noPlayers}}
<h3>Add some people to play with</h3>
{{else}}
     {{#if myTurn.bool}}
        <h3>It's your turn</h3>

          <div class="button-container">
            <a id="playbutton" class="button" href="/play/private/?gameid={{game.id}}&squiggleid=latest">    <img src="/assets/svg/playhome.svg" alt=""> </a>
            {{!-- <a id="playbutton" class="button" href="/gallery/private/?gameid={{game.id}}">    <img src="/assets/svg/galleryhome.svg" alt=""> </a> --}}
            <a id="playbutton" class="button" href="/gallery">    <img src="/assets/svg/galleryhome.svg" alt=""> </a>

         </div>


        {{else}}
        <h3>It's {{game.currentPlayer}}'s turn to draw.</h3>  

          <div class="button-container">
            <a id="playbutton" class="button" href="/play/private/?gameid={{game.id}}&squiggleid=random">    <img src="/assets/svg/playhome.svg" alt=""> </a>
            {{!-- <a id="playbutton" class="button" href="/gallery/private/?gameid={{game.id}}">    <img src="/assets/svg/galleryhome.svg" alt=""> </a> --}}
            <a id="playbutton" class="button" href="/gallery">    <img src="/assets/svg/galleryhome.svg" alt=""> </a>
         
          </div>


        {{/if}}
{{/if}}
   
    </div>


  </div>

</div>

